- if current_user.has_role? :registry
  = render 'home/registry_navigation'
- if current_user.has_role? :team_member
  = render 'home/team_member_navigation'
- if current_user.has_role? :member
  = render 'home/member_navigation'
