.sa
.main-navigation
  .main-navigation-item
    =link_to "#{}" do
      .navigation-item-link Записи до лікарів
  .main-navigation-item
    =link_to cards_path do
      .navigation-item-link Медичні картки
  .main-navigation-item
    =link_to "#{}" do
      .navigation-item-link Other
