.main-navigation
  .main-navigation-item
    =link_to "#{}" do
      .wow Рарара
  .main-navigation-item
    =link_to "#{}" do
      .wow Patients
  .main-navigation-item
    =link_to "#{}" do
      .wow Other