= simple_form_for(@departament, html: { class: 'form-horizontal, new-cards-form' }) do |f|
  = f.input :name
  = f.submit @departament.persisted? ? t('departament.update') : t('departament.create'), class: 'btn btn-success'
