%ul.breadcrumb
  %li
    =link_to t("index"), root_path
    %span.divider
  %li
    =link_to t("card.plural"), cards_path
    %span.divider
  %li.active
    =t("card.new")
.div-centered
  = render 'cards/form'
