// Place all the styles related to the Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.appointment-select {
  // display: flex;
}
.new-appointments-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 50%;

  label, select {
    width: 100%;
  }
}
