.main-navigation {
  width: 100%;
  height: 20vw;
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
}

.main-navigation-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-navigation-item a:hover {
  opacity: 5;
}

.main-navigation-item a{
  text-decoration: none;
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navigation-item-link {
}

.main-navigation-item {
  margin: 5px;
  border: 1px solid #465775;
}

.main-navigation-item a:hover {
background: #465775;
color: white;

  /*opacity: 1;*/
  /*-webkit-animation: flash 1.5s;*/
  /*animation: flash 1.5s;*/
}
/*@-webkit-keyframes flash {
  0% {
    opacity: .4;
    background: #465775;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    background: #465775;
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}*/